.movies__card-list {
  display: grid;
  row-gap: 37px;
  column-gap: 24px;
  grid-template-columns: repeat(auto-fit, 364px);
  margin: 70px 70px 0 70px;
  justify-content: center;
}

.movies__error-in-list {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin: 0 20px 0 20px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .movies__card-list {
    grid-template-columns: repeat(auto-fit, 339px);
    margin: 80px 30px 30px 30px;
    row-gap: 30px;
    column-gap: 30px;
  }

  .movies__error-in-list {
    margin: 30px 20px 0 20px;
  }
}
  
@media screen and (max-width: 580px) {
  .movies__card-list {
    grid-template-columns: repeat(auto-fit, 300px);
    margin: 48px 10px 0 10px;
    row-gap: 14px;
  }
}