.form__auth {
  max-width: 396px;
  display: flex;
  flex-direction: column;
  margin: 70px auto 70px auto;
}

.form__title {
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0 40px 0;
}

.form__framework {
  display: flex;
  flex-direction: column;
}

.form__input-name {
  font-size: 10px;
  font-weight: 400;
  color: #A0A0A0;
  display: flex;
  flex-direction: column;
}

.form__input {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px #E8E8E8 solid;
  margin: 5px 0 6px 0;
}

.form__input:last-child {
  margin: 5px 0 24px 0;
}

.form__input_wrong {
  color: #FF4062;
}

.form__error {
  font-size: 10px;
  font-weight: 400;
  color: #FF4062;
}

.form__button {
  background-color: #000000;
  height: 45px;
  width: 100%;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 134px 0 16px 0;
  cursor: pointer;
  border: none;
}

.form__button:hover {
  opacity: 60%;
}

.form__signin-text {
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 14px;
  font-weight: 400;
  color: #A0A0A0;
  margin: 0;
}

.form__signin-link {
  margin-left: 7px;
  color: #000000;
}

.form__signin-link:hover {
  opacity: 60%;
}  
  
@media screen and (max-width: 768px) {
  .form__auth {
    margin: 232px auto 232px auto;
  }
}
  
@media screen and (max-width: 580px) {
  .form__auth {
    max-width: 260px;
    margin: 56px auto 30px auto;
    align-items: center;
  }
  
  .form__title {
    margin: 50px 0 80px 0;
  }
  
  .form__input {
    min-width: 260px;
  }
  
  .form__button {
    font-size: 12px;
    margin: 222px 0 14px 0;
  }
  
  .form__signin-text {
    font-size: 12px;
  }
}